/* #allpostsview #allpostsviewSub #newpostdiv {
    border-style: ridge;
    padding: 10px;
    margin-top: 10px;
} */
/* #allpostsview #allpostsviewSub #newpostdiv textarea {
    width: 100%;
} */

body {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    background-color: lightgray;
}

#allpostsview {
    margin-top: 10px;
}

#allpostsview .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
}
