$border_radius: 20px;

body {
    font-family: "Poppins", sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    background-color: lightgray;
}


.navbar {
    display: flex;
    border-radius: $border_radius;
    justify-content: space-between;
    
    .logo {
        width: 45px;
        height: auto;
        object-fit: contain;
        margin-right: 10px;
    }

    .row {
        padding-right: 20px;
        #navbarNav {
            #profile {
                margin-left: 10px;
            }
        }
    }
}

.btn {
    border-radius: $border_radius;
    background-color: #1DA1F2;
}

// index.html
#main_view {
    .newpost {
        margin-top: 10px;
        form {
            border-radius: $border_radius;
        }
    }
}